@model ProductVm

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Product List</h1>

<div class="row">
    <div class="col">
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </div>
    <div class="col-4">
        @*<form asp-action="Index">
            <div class="row">
                <div class="col">
                    <select asp-for="SelectedCategory" class="form-control text-center" asp-items="Model.CategoryList" id="filterId">
                        <option selected>All</option>
                    </select>
                </div>
                <div class="col">
                    <input type="submit" value="filter"/>
                </div>
            </div>
        
        </form>*@

        <div>
            <select asp-for="SelectedCategory" class="form-control text-center" asp-items="Model.CategoryList" id="filterId" name="filterId">
                --<option selected>All</option>--
            </select>

        </div>

    </div>
    <div class="col-4">
        <form asp-controller="Products" asp-action="Index">
            <p style="display: none">
                <input disabled type="text" name="SearchString"/>
                <input disabled type="submit" value="Search"/>
            </p>
        </form>
    
    </div>
</div>
<table class="table cell-border hover table-light" id="tableId" style="width: 100%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Strength</th>
        <th>Generic</th>
        <th>Category</th>
        <th>Company</th>
        <th>Action</th>
    </tr>
    </thead>
    @*<tbody>
       
          @foreach (var item in Model.Products!)
            {
                <tr class="text-center">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Strength)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Generic!.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category!.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary" style="width: 100px">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info" style="width: 100px">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-warning" style="width: 100px">Delete</a>
                    </td>
                </tr>
            
        }
    
    </tbody>*@
</table>

@section Scripts
{
    <script src="js/product.js"></script>

}