@model IEnumerable<Medical_Inventory.Models.PatientGroup>

@{
    ViewData["Title"] = "Index";
}

<h1>Patient Group</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Create New</a>
</p>
<table class="table table-striped border table-bordered">
    <thead>
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedTime)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy!.UserName)
                </td>
                <td class="text-center">
                    @if (DateTime.MinValue != item.CreatedTime)
                    {
                        @Html.DisplayFor(modelItem => item.CreatedTime)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedBy!.UserName)
                </td>
                <td class="text-center">
                    @if(DateTime.MinValue != item.UpdatedTime)
                    {
                        @Html.DisplayFor(modelItem => item.UpdatedTime)
                    }
                    
                </td>
            <td class="text-center">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary w-25">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info w-25 ms-1">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-warning w-25 ms-1">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
